{% extends 'home/base.html' %}

{% block title %}
    <h1> About me </h1>
{% endblock title %}

{% block content %}
    <div class="container text-center">
        <p class="lead"> Hola! Me llamo Juli y este es mi primer desarrollo de página web. </p>
        <br>
        <p class = "lead"> Me meti en programacion hace unos meses y hoy estoy terminando mi primer curso. La idea de esta página es poder
            escribir sobre vos, tus intereses, habilidades, cosas que quieras dejar por escrito en algún lado. Personalmente me gusta investigar
            sobre muchas cosas e informarme y al final termino olvidando datos especificos, asi que este seria un metodo para dejar por escrito todos
            mis pensamientos </p>
        <br>
        <p class="lead">Queda mucho por mejorar pero la idea está en la muestra, espero que disfrutes la pagina!</p>
    </div>
{% endblock content %}