{% extends 'home/base.html' %}

{% block title %}
    <h1>Crear perfil</h1>
{% endblock title %}

{% block content %}

    <p><strong>Primero tenes que tener un usuario. Si no lo tenes creá el tuyo </strong> <a href="{% url 'cliente:crear_usuario' %}">aqui</a></p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
    <p>  </p>
    <p><a href="{% url 'home:index' %}" class="btn btn-dark">Ir a la pagina principal</a></p>

{% endblock content %}