{% extends 'home/base.html' %}

{% block title %}
    <h1>Tu perfil</h1>
{% endblock title %}

{% block content %}
    <h3>Tus datos</h3>
    {% for perfil in perfiles %}
        <li>Nombre: {{perfil.nombre}}
            <br>
            Apellido: {{perfil.apellido}}
            <br>
            Nombre de usuario: {{perfil.usuario}}
            <br>
            Email: {{perfil.mail}}
            <br>
            Fecha de nacimiento: {{perfil.nacimiento}}
            <br>
            Biografia: {{perfil.biografia}}
        </li>
    {% endfor %}
{% endblock content %}