<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja de pandora</title>
</head>
<body>
    
    <h1> Caja de pandora </h1>
    {% block title %}
         <h2>Pagina principal</h2>
    {% endblock title %}

    {% block content %}
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem aspernatur eveniet, tenetur id numquam modi repudiandae sequi praesentium, deserunt porro ad minima accusantium pariatur similique nesciunt magnam iure voluptas quisquam!</P>
    {% endblock content %}


</body>
</html>