{% extends 'home/base.html' %}
{% load static %}
   
{% block title %}
    <h1>Bienvenido a Blogging!</h1>
{% endblock title %}

{% block content %}
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/imagenes/libros.jpg' %}" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Crea tus blogs</h1>
                    <p>Esta es una página web desarrollada para que puedas crear tus blogs personales.</p>
                </div>
            </div>  
    <p> <a href="{% url 'blog:blog_create' %}"class="btn btn-dark">Crea tu primer blog</a> </p> 
{% endblock content %}

