{% extends 'Blog/base.html' %}


{% block title %}
    <h1>Listado de categorias</h1>
{% endblock title %}

{% block blog %}

    <div class="py-4 ">

        <form action="" method="get">
            <input type="text" name="buscar" placeholder="Buscar Categoría">
        </form>

    </div>
    
    {% for categoria in object_list %}
        <ul>

            <li> {{ categoria.nombre}} </li>
                <a href="{% url 'blog:blogcategoria_detail' categoria.id %}"class="btn btn-light">Ver detalle</a>
                <a href="{% url 'blog:blogcategoria_update' categoria.id %}"class="btn btn-light">Actualizar</a>
                <a href="{% url 'blog:blogcategoria_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>

        </ul>
        
    {% endfor %}

    <a href="{% url 'blog:blogcategoria_create' %}" class="btn btn-success ">Crear Categoria</a>
    <a href="{% url 'blog:index' %}" class="btn btn-dark">Volver a atras</a>
{% endblock blog %}

